.content {
    margin: 100px 0px 50px 0px;
    padding: 0 16px;
    max-width: auto;
    
  }
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  .centereds {
    position: absolute;
    top: 50%;
    left: 38%;
    transform: translate(-50%, -50%);
  }
  .centereds h1{
    font-size: 3em;
    font-weight: 700;
    line-height: 1;
    color: #fff;

  }
  .centereds h2{
    font-size: 2em;
    font-weight: 600;
    margin: 0;
    color: #fff;

  }
  .cardstyle{
    min-height:400px;background-color:rgb(9, 182, 198);margin-left:12%;margin-right: 12%;
    opacity: 1;
    background-image: linear-gradient(to right, rgba(var(--tmdbDarkBlue), 0.8) 0%, rgba(var(--tmdbDarkBlue), 0) 100%), url(/t/p/w1920_and_h600_multi_faces_filter)
  }
  @media only screen and (max-width: 600px) {
    .loader{
      display:flex; position: fixed; z-index: 999;margin: 22% 37%;
    }
  }

 input[type=text] {
    width: 80%;
    height: 46px;
    line-height: 46px;
    font-size: 1.1em;
    color: rgba(0,0,0,0.5);
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
 }
 button{
  width: 20%;
  height: 48px;
  line-height: 6px;
  font-size: 1.1em;
  color: rgba(0,0,0,0.5);
  border: none;
  border-radius: 30px;
  padding: 10px 10px;
  margin-left: -50px;
  background-image: radial-gradient(red, yellow, green);
  font-weight: 700;
    line-height: 1;
    color: #fff;
 }