<div class="container-fluid" style="margin-top: 2%;">
    <div class="card cardstyle">
        <div class="centereds">
            <h1>Welcome</h1>
            <h2>Millions of movies, TV shows and people to discover. Explore now.</h2><br><br>
            <input type="text"placeholder="Search for a movie, tv show, person......" value="">
            <button type="submit">Search</button>
        </div>
    </div>
    <div>
        <!-- <div class="column_header">
            <h2>What's Popular</h2>
  
            <div class="selector_wrap">
              <div class="selector">
                <div class="anchor selected">
                  <h3><a href="#" class="no_click" data-panel="popular_scroller" data-group="streaming">Streaming <span class="glyphicons_v2 chevron-down"></span></a></h3>
                  <div class="background" style="left: 0px; width: 111.025px;"></div>
                </div>
  
                <div class="anchor">
                  <h3><a href="#" class="no_click" data-panel="popular_scroller" data-group="on-tv">On TV <span class="glyphicons_v2 chevron-down"></span></a></h3>
                  <div class="background hide" style="left: 0px; width: 111.025px;"></div>
                </div>
  
                <div class="anchor">
                  <h3><a href="#" class="no_click" data-panel="popular_scroller" data-group="for-rent">For Rent <span class="glyphicons_v2 chevron-down"></span></a></h3>
                </div>
  
                <div class="anchor">
                  <h3><a href="#" class="no_click" data-panel="popular_scroller" data-group="in-theatres">In Theaters <span class="glyphicons_v2 chevron-down"></span></a></h3>
                </div>
              </div>
            </div>
          </div> -->
    </div>
</div>