<mat-progress-spinner *ngIf="loadings" class="text-center"color="accent" mode="indeterminate"value="100"
style="display:flex; position: fixed; z-index: 999;margin: 22% 47%;"
></mat-progress-spinner>
  <div class="content shadow" role="main">
    <!-- <app-search (searchTextChanged)="onSearchTextEnterd($event)" (searchTextChange)="onSearchClear($event)"
    ></app-search>
       -->
       <form class="example">
        <input type="text" placeholder="Search by name.." name="search" [(ngModel)]="searchInput">
        <button class="button1"  (click)="onSearch()" ><i class="fa fa-search"></i></button>
        <button style="background: #ef3405;" id="clear" (click)="onSearchClear()" ><i class="fa fa-close"></i></button>
      </form>
      <h1>{{title}}</h1>
      <div class="card-container mb-3 ">
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-2" *ngFor="let d of data | paginate: { itemsPerPage: 18, currentPage: p }">
            <div class="card" *ngIf="searchText === ''||d.title.toLowerCase().includes(searchText)" (click)="GetMoviDeatils(d.id)" [routerLink]="['/movis', d.id]">
              <img src={{imgbaseurl+d.backdrop_path}} width="100%" height="70%">
              <div class="card-body">{{d.title}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="float-right">
        <ul class="pagination shadow">
          <li class="page-item">
            <a class="page-link" (click)="pagination.onFirst()">First</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="pagination.onPrevious()">Previous</a>
          </li>
          <input disabled #pagination="pagination" appPagination type="number" min="1" max='500' [totalPages]='500'
            value="1" (onChangeEventEmitter)="onPageChange($event)" />
          <li class="page-item">
            <a class="page-link" (click)="pagination.onNext()">Next</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="pagination.onLast()">Last</a>
          </li>
        </ul>
      </div>
    </div>